# Data Engineering
psycopg2-binary
python-dotenv
pandas
sqlalchemy

# ML / AI
mlflow[databricks]>=3.1
scikit-learn
transformers
torch
joblib
Cython

# Utilities
from-root

sentence-transformers
umap-learn
hdbscan
keybert
langchain
langchain-core
langchain-groq
matplotlib
seaborn
requests
fastapi
uvicorn
